<!DOCTYPE html>
<html>
  <head>
    <title>Art</title>
    <link type="text/css" rel="stylesheet" href="../resources/artmain.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <!--POST IT NOTES-->
  <body>

    <div class="container">
      <div id="welcome"><h2><center>Welcome</center></h2>
      <div id="to"><h2><center>to<center></h2>
      <div id="art"><h2><center>The Art Club<center></h2>
  </div>
    <div id = "footer">
      <a href="sponser.html">Sponser a Contest</a>-
      <a href="view.html">View Entries!</a>-
    </div>
  </body>
</html>
