<!DOCTYPE html>
<html>
  <head>
  <title>Sponser a Contest</title>
  <link type="text/css" rel="stylesheet" href="../resources/sponser.css">
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <h1> <center>Sponsering Site</center> </h1>
    <!--THIS IS FOR THE COMMENT BOX! -->
        <center><form method = "post" action = "/create_contest" >
          Name of Your Contest<p><textarea id = "name" name = "name"></textarea></p>
          Description of your Contest<p><textarea id = "description" name = "description"></textarea></p>
          Reward<p><textarea id = "reward" name = "reward"></textarea></p>
          <input type = "submit" value = "Submit Contest" class = "button"></input>
        </form></center>
  </body>
</html>
