html {
  background: url(artwork.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 2000px 1500px;
}

div.container {
  position: absolute;
  top: 350px;
  left: 750px;
}

#footer {
  text-align: center;
  padding: 5px 20px;
  color:black;
}

#footer a {
  margin: 0 50px;
}

#footer a:visited {
	color:black;
}

#footer a:hover {
	color:gray;
}

#sponser {
  position: fixed;
  top: 70%;
  left: 25%;
  display: flex;
  border-style: solid;
  border-color: blue;
  border-width: thick;
  background-color: orange;
  color: pink;
  font-size: 15px;
}
#view {
  position: fixed;
  top: 70%;
  left: 65%;
  display: flex;
  border-style: solid;
  border-color: green;
  border-width: thick;
  background-color: orange;
  color: pink;
  font-size: 15px;
}

#hand {
  position: absolute;
  height: 300px;
  width: 590px;
  left: 900px;
  top: 200px;
}
